
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
CONN_MAX_AGE=

# Domain name, used by caddy
DOMAIN_NAME=ws17-django.mhertel.de

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=./fe-j}l89:/Y^{ecYK1k?S)VRnrOZmCFfQ_{$0<b:0!{{J]4+
DJANGO_ALLOWED_HOSTS=.ws17-django.mhertel.de

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
#DJANGO_MAILGUN_API_KEY=
#DJANGO_SERVER_EMAIL=
#MAILGUN_SENDER_DOMAIN=

POSTMARK_SERVER_TOKEN=


# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry
DJANGO_SENTRY_DSN=

# MOVES (local)
CLIENT_ID=
CLIENT_SECRET=
API_AUTH=https://api.moves-app.com/oauth/v1
API=https://api.moves-app.com/api/1.1
