{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
        {% if  moves_connected %}
            Moves App is successfully connected
        {%  endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
      {% if not moves_connected %}
          <a class="btn btn-primary" href="{{ moves_auth_url }}" role="button">Connect Moves</a>
      {% else %}
          <a class="btn btn-primary" href="{% url 'users:moves_import' %}" role="button">Import Moves Data</a>
          {% if moves_data_available %}
            <a class="btn btn-primary" href="{% url 'users:list' %}" role="button">View Moves Data</a>
          {% endif %}
      {% endif %}
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
