{% extends "base.html" %}
{% load unit_conversion %}
{% load humanize %}
{% block head %}

{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>{{ activity.group }}</strong>
            <img class="card-img-top" src="mpl_detail.svg" alt="Card image cap">
          </div>
          <div class="card">
            <table class="table table-striped table-bordered" style="width:100%">
              <tbody>
              <tr>
                <th>Distance</th>
                <td>{{ activity.distance|format_meters:"km" }}</td>
              </tr>
              {% if activity.max_speed > 0 %}
              <tr>
                <th>Max. Speed</th>
                <td>{{ activity.max_speed }} kmh</td>
              </tr>
              <tr>
                <th>Avg. Speed</th>
                <td>{{ activity.avg_speed }} kmh</td>
              </tr>
              {% endif %}
              <tr>
                <th>Calories (kJ)</th>
                <td>{{ activity.calories }} ({{ activity.calories|calories_to_kj }})</td>
              </tr>
              <tr>
                <th>Watts</th>
                <td>{{ activity.calories|calories_to_watts:activity.duration }}</td>
              </tr>
              <tr>
                <th>Duration</th>
                <td>{{ activity.duration|format_seconds }}</td>
              </tr>
              <tr>
                <th>Start</th>
                <td>{{ activity.startTime }}</td>
              </tr>
              <tr>
                <th>End</th>
                <td>{{ activity.endTime }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% if 'weather' in activity %}
    <div class="card">
      <div class="card-header">
        <strong>Weather Conditions</strong>
      </div>
      <table class="table table-striped table-bordered">
        <tbody>
        <tr>
          <th>Summary</th>
          <td>{{ activity.weather.currently.summary }}</td>
        </tr>
        <tr>
          <th>Temperature (Actual/Feels Like)</th>
          <td>{{ activity.weather.currently.temperature }} &#8451; / {{ activity.weather.currently.apparentTemperature }} &#8451;</td>
        </tr>
        <tr>
          <th>Wind Speed</th>
          <td>{{ activity.weather.currently.windSpeed|format_miles:"km" }}h</td>
        </tr>
        <tr>
          <th>Humidity</th>
          <td>{% widthratio activity.weather.currently.humidity 1 100 %} %</td>
        </tr>
        <tr>
          <th>Visibility</th>
          <td>{{ activity.weather.currently.visibility|format_miles:"km" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  {% endif %}
  </div> {# row end #}
</div> {# container end #}

  <!-- Button: back to previous view -->
  <div>
    <a class="btn btn-secondary" href="/users/map/{{ date }}" role="button" style="margin-top: 1em"><< Map overview</a>
  </div>
{% endblock content %}
