{% extends "base.html" %}
{% load unit_conversion %}
{% load humanize %}

{% block head %}
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.js'></script>
  <script src='/static/leaflet-hash.js'></script>

  <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css' rel='stylesheet' />

  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link href="geojson" rel="geojson" type="application/json">
{% endblock %}

{% block style %}
  /*#map { position:absolute; top:60; bottom:0; width:100%; height:100%;}*/
  #map {
  height: 350px;
  }
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>{{activity.group}}<br><small>{{ activity.startTime|datestring_to_date }}</small></h3>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3"><h4>{{ activity.distance|format_meters:"km" }}<br><small>Distance</small></h4></div>
        <div class="col-md-3"><h4>{{ activity.duration|format_seconds }}<br><small>Duration</small></h4></div>
        <div class="col-md-3"><h4>{{ activity.weather.currently.summary }}<br><small>Conditions</small></h4></div>
        <br>
      </div>
      <div class="row">
        {% if activity.calories %}
        <div class="col-md-3">
          <h5>{{ activity.calories }} kcal</h5>
        </div>
        <div class="col-md-3">
          <h5>{{ activity.calories|calories_to_kj }}</h5>
        </div>
        <div class="col-md-3">
          <h5>{{ activity.calories|calories_to_watthour }}</h5>
        </div>
        {% endif %}
      </div>
      {% if activity.max_speed > 0 %}
      <div class="row">
        <div class="col-md-3">Speed</div>
        <div class="col-md-3">Average<br>{{ activity.avg_speed |floatformat:2 }} Km/hh</div>
        <div class="col-md-3">Max<br>{{ activity.max_speed |floatformat:2 }} Km/h</div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Route</strong>
        </div>
        <div id='map'></div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        {% if 'weather' in activity %}
          <div class="card">
            <div class="card-header">
              <strong>Weather Conditions</strong>
            </div>
            <table class="table table-striped table-bordered">
              <thead>
              <th>Summary</th>
              <th>Temperature (Actual/Feels Like)</th>
              <th>Wind Speed</th>
              <th>Humidity</th>
              <th>Visibility</th>
              </thead>
              <tbody>
              <tr>
                <td>{{ activity.weather.currently.summary }}</td>
                <td>{{ activity.weather.currently.temperature }} &#8451; / {{ activity.weather.currently.apparentTemperature }} &#8451;</td>
                <td>{{ activity.weather.currently.windSpeed|format_miles:"km" }}h</td>
                <td>{% widthratio activity.weather.currently.humidity 1 100 %} %</td>
                <td>{{ activity.weather.currently.visibility|format_miles:"km" }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Speed Analysis</strong>
          </div>
          <img class="card-img-top" src="mpl_detail.svg" alt="Card image cap">
        </div>
      </div>
    </div>
  </div>
  <!-- Button: back to previous view -->
  <div>
    <a class="btn btn-secondary" href="/users/map/{{ date }}" role="button" style="margin: 1em 0 1em 0"><< Map overview</a>
  </div>

  <script>
    var map = L.mapbox.map('map', 'paulmison.gofl3m15')
      .setView([0, 0], 2);
    var hash = new L.Hash(map);
    map.zoomControl.setPosition('topright');
    var draw_geojson = function(data) {
      var markerLayer = L.mapbox.markerLayer()
      markerLayer.on('layeradd', function(e) {
        var marker = e.layer,
          feature = marker.feature;
        if (feature.properties.icon) {
          marker.setIcon(L.icon(feature.properties.icon));
        }
      });
      markerLayer.setGeoJSON(data).addTo(map);
      map.fitBounds(markerLayer.getBounds());
    };
    $.getJSON($('link[rel="geojson"]').attr("href"), draw_geojson);
  </script>
{% endblock content %}
