{% extends "base.html" %}
{% load unit_conversion %}
{% load humanize %}

{% block content-pre %}

<!-- subnav TODO refactor this to breadcrumb - depend on refactor routing -->
<br>
<div class="container-fluid">
  <!-- main content -->
  <div class="row">
    <!-- welcome claim -->
    <!-- notification / message alert boxes -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <strong>
            Informations from your Moves-Account
          </strong>
        </div>
        <div class="card-block" style="padding:10px">
          <div class="alert alert-info" role="alert">
            <p>Hi <strong>{{user.username}}</strong>. <br>
              You've been using Moves for <strong>{{ days }} days</strong>. <br>
              Your Timezone is: <strong> {{profile.profile.currentTimeZone.id }}</strong> <br>
              Your Tracking Device OS is: <strong> {{profile.profile.platform | upper}}</strong> <br><br>
              Distance covered (Walking | Cycling | Transport)<br> <strong> {{profile.totals.walking.distance|format_meters:"km"}} | {{profile.totals.cycling.distance|format_meters:"km"}} | {{profile.totals.transport.distance|format_meters:"km"}}</strong><br>
              Time Spent (Walking | Cycling | Transport)<br> <strong> {{profile.totals.walking.duration|format_seconds}} | {{profile.totals.cycling.duration|format_seconds}} | {{profile.totals.transport.duration|format_seconds}}</strong><br>
              Calories Burned<br> <strong> Walking: {{profile.totals.walking.calories|format_pizza}}<br>Cycling: {{profile.totals.cycling.calories|format_pizza}}</strong><br>
              Steps (Walking)<br><strong> {{profile.totals.walking.steps|intword}}</strong>
            </p>
          </div>
        </div>
        <div class="card-block" style="padding:0px 10px 20px 10px">

            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Month
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for month in months %}
                        <a class="dropdown-item" href="moves-data/{{ month|date:'Y' }}/{{ month|date:'m' }}">{{ month|date:"M Y" }}</a>
                {% endfor %}
              </div>
            </div>

        </div>
      </div>
    </div>

    <!-- overview table -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
            <strong>Overview: Last 30 days</strong>
        </div>
        <div class="card">
          <br>
          <table id="table_id" class="table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                      <th>Date</th>
                      <th>Short Summarize</th>
                      <th>GeoJSON</th>
                  </tr>
              </thead>
              <tbody>
                {% for day in summary %}
                  <tr>
                    <td>
                      <a href="map/{{day.dateObj|date:"Y-m-d"}}">
                        {{ day.dateObj }}
                      </a>
                    </td>
                    <td class="summary">
                      {{day.summary.walking}}{% if day.summary.cycling %}, {{day.summary.cycling}}{% endif %}{% if day.summary.transport%}, {{day.summary.tansport}}{% endif %}
                    </td>
                    <td>
                      <a href="geojson/{{ day.dateObj|date:'Y-m-d' }}" title="">
                        GeoJSON
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>
    <!-- matplot diagram -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <strong>
            Matplot-Diagram: Last 30 Days (mpl_recent.svg)
          </strong>
        </div>
        <div class="card-block" style="padding:10px">
          <img class="card-img-top" src="mpl_recent.svg" alt="Card image cap">
        </div>
      </div>
      <br>
      <!-- <div class="card">
        <div class="card-header">
          <strong>
            Matplot-Diagram: Last 30 Days (mpl_pie.svg/30)
          </strong>
        </div>
        <div class="card-block" style="padding:10px">
          <img class="card-img-top mpl-pie" src="mpl_pie.svg/30" alt="Card image cap">

        </div>
      </div> -->
    </div>
  </div>
</div>
{% endblock content-pre %}

{% block javascript %}
<!-- settings for datatables -->
<script type="text/javascript">
$(document).ready( function () {
  $('#table_id').DataTable({
    "order": [],
    "ordering": false,
  });
} );
</script>
{% endblock %}
