{% extends "base.html" %}
{% load unit_conversion %}
{% load humanize %}

{% block content %}
<br>
<!-- welcome claim -->
<div class="row">
  <!-- notification / message alert boxes -->
  <div class="col-md-7">
    <div class="alert alert-info" role="alert">
      <p>Hi <strong>{{user.username}}</strong>. <br>
        You've been using Moves for <strong>{{ days }} days</strong>. <br>
        Your Timezone is: <strong> {{profile.profile.currentTimeZone.id }}</strong> <br>
        Your Tracking Device OS is: <strong> {{profile.profile.platform | upper}}</strong> <br><br>
        Distance (Walking | Cycling | Transport)<br> <strong> {{profile.totals.walking.distance|format_meters:"km"}} | {{profile.totals.cycling.distance|format_meters:"km"}} | {{profile.totals.transport.distance|format_meters:"km"}}</strong><br>
        Duration (Walking | Cycling | Transport)<br> <strong> {{profile.totals.walking.duration|format_seconds}} | {{profile.totals.cycling.duration|format_seconds}} | {{profile.totals.transport.duration|format_seconds}}</strong><br>
        Calories (Walking | Cycling)<br> <strong> {{profile.totals.walking.calories|intcomma}} | {{profile.totals.cycling.calories|intcomma}}</strong><br>
        Steps (Walking)<br><strong> {{profile.totals.walking.steps|intword}}</strong>
      </p>
    </div>
  </div>
  <!-- subnav TODO refactor this to breadcrumb - depend on refactor routing -->
  <div class="col-md-5">
    <div class="dropdown show float-right">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Month
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for month in months %}
                <a class="dropdown-item" href="moves-data/{{ month|date:'Y' }}/{{ month|date:'m' }}">{{ month|date:"M Y" }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- main content -->
<div class="row">
  <!-- overview table -->
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
          <strong>Overview: Last 30 days</strong>
      </div>
      <div class="card">
        <br>
        <table id="table_id" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Short description</th>
                    <th>GeoJSON</th>
                </tr>
            </thead>
            <tbody>
              {% for day in summary %}
                <tr>
                  <td>
                    <a href="map/{{day.dateObj|date:"Y-m-d"}}">
                      {{ day.dateObj }}
                    </a>
                  </td>
                  <td class="summary">
                    {{day.summary.walking}}
                  </td>
                  <td>
                    <a href="geojson/{{ day.dateObj|date:'Y-m-d' }}" title="">
                      GeoJSON
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>

  <!-- matplot diagram -->
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <strong>
          Matplot-Diagram: Last 30 Days
        </strong>
      </div>
      <div class="card">
        <img class="card-img-top" src="mpl_recent.svg" alt="Card image cap">
        <br>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<!-- settings for datatables -->
<script type="text/javascript">
$(document).ready( function () {
  $('#table_id').DataTable({
    "order": [],
    "ordering": false,
  });
} );
</script>
{% endblock %}
